body {
  margin: 0;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
#root {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-lg, .modal-xl {
  --bs-modal-width: 1000px !important;
  margin-left:'-10%';
  height:'90%'
}
input[type='file']{
    background-color:transparent;
}
input[type="file"]:before {
  content: "Browse";
  background: #fff;
  width: 100%;
  height: 35px;
  display: block;
  text-align: left;
  position: relative;
  margin: 0;
  margin: 0 5px;
  left: -6px;
  border: 1px solid #e0e0e0;
  top: -1px;
  line-height: 35px;
  color: #b6b6b6;
  padding-left: 5px;
  display: block;
}
p{
  font-size: '1.2em';
  margin-top:'10px';
  color:'black'
}
.sendChatBtn{
  background-color:'rgb(51, 51, 51)';
  color: 'white';
  padding: '10px 10px';
  margin-top:'-100px'; 
  border: 'none';
  border-radius: '8px'; 
  cursor: 'pointer';
  width: '50px';
  font-size:'12px';
  float:'right';
  position:'relative' 
}
div.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: pink lightblue;
} 
.navbar-custom {
  height: 75px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 15px;
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-content a {
  color: white;
  margin-right: 15px;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.textContainer{
  position: relative;
}
.textContainer textarea {
  display: block;
  width: 80% !important;
  resize: vertical;
}


.textContainer .open-button {
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  background-color:'#ebebe0'; 
  color: 'blue';
  padding: '5px 5px';
  border: 'none'; 
  border-radius: '8px';
  cursor: 'pointer';
  width: '30px';
  font-size:'10px';
  float:'right'
} */