body {
  margin: 0;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-lg, .modal-xl {
  --bs-modal-width: 1000px !important;
  margin-left:'-10%';
  height:'90%'
}